language: cpp

matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - doxygen
            - graphviz
            - g++-8
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - doxygen
            - graphviz
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
    - eval "${MATRIX_EVAL}"

install:
    - wget https://codeload.github.com/catchorg/Catch2/tar.gz/v2.5.0 -O v2.5.0.tar.gz
    - tar -xvf v2.5.0.tar.gz
    - cd Catch2-2.5.0
    - cmake -Bcmakebuild -H. -DBUILD_TESTING=OFF
    - sudo $(which cmake) --build cmakebuild --target install
    - cd ..

script: rm -rf build; mkdir -p build; cd build; cmake -DCMAKE_BUILD_TYPE=Debug .. ; make -j 4; make test

